<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Merlin HTML/CSS template">
  <meta name="author" content="Hasan Alibegic">
  <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
  <title>Project</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600">
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/facebookimages.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="{{STATIC_URL}}js/html5shiv.js"></script>
    <script src="{{STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
      <div id="navbar-top">
        <nav class="navbar navbar-default navbar-static" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand nav-external" href="#home">Lakshya Crowdfunding</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{{BASE_URL}}">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container-fluid">

        <div class="row">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{%if user.is_authenticated%}
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form class="form-horizontal" method="POST" action="{{BASE_URL}}/project/save_project">{% csrf_token %}
<center><h1 style="margin-top:5px;">Create Project</h1></center>
<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="project_name">Project Name</label>
  <div class="controls">
    <input class="form-control" id="project_name" name="project_name" type="text" placeholder="Taco Bell" class="input-xlarge" required="">
    
  </div>
</div>
<!-- Textarea -->
<div class="form-group">
  <label class="control-label" for="project_desc">One Line Project Description</label>
  <div class="controls">                     
    <textarea class="form-control" id="project_desc" name="project_desc">My project is about....</textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="money_req">Money Required</label>
  <div class="controls">
    <input class="form-control" id="money_req" name="money_req" type="text" placeholder="$$$$" class="input-medium">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="days_req">Days required</label>
  <div class="controls">
    <input class="form-control" id="days_req" name="days_req" type="text" placeholder="" class="input-medium">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="img_link">Link to image:</label>
  <div class="controls">
    <input class="form-control" id="img_link" name="img_link" type="text" placeholder="https://www.example.com/image.jpg" class="input-xlarge" required="">
    
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="video_link">Link to video:</label>
  <div class="controls">
    <input class="form-control" id="video_link" name="video_link" type="text" placeholder="https://www.example.com/video.mp4" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="control-label" for="details">Detailed Explanation:</label>
  <div class="controls">                     
    <textarea id="details" name="details" class="form-control"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="project_use">Project Use:</label>
  <div class="controls">
    <input class="form-control" id="project_use" name="project_use" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="pledge2">Pledge Amount 1:</label>
  <div class="controls">
    <input class="form-control" id="pledge2" name="pledge2" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="pledge1">Pledge Amount 2:</label>
  <div class="controls">
    <input class="form-control" id="pledge1" name="pledge1" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="pledge3">Pledge Amount 3:</label>
  <div class="controls">
    <input class="form-control" id="pledge3" name="pledge3" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="pledge4">Pledge Amount 4:</label>
  <div class="controls">
    <input class="form-control" id="pledge4" name="pledge4" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>
</div>
        </div>
      </div>
      {%else%}
      <div class="jumbotron">
        <p class="lead">You must be logged in to create a project.</p>
      </div>
{%endif%}

    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/isotope.pkgd.min.js"></script>
    <script src="{{STATIC_URL}}js/imagesloaded.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.scrollTo.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.nav.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.appear.min.js"></script>
    <script src="{{STATIC_URL}}js/twitterFetcher.min.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>

  </body>
  </html>