<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Merlin HTML/CSS template">
  <meta name="author" content="Hasan Alibegic">
  <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
  <title>Project</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600">
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/facebookimages.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="{{STATIC_URL}}js/html5shiv.js"></script>
    <script src="{{STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
      <div id="navbar-top">
        <nav class="navbar navbar-default navbar-static" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand nav-external" href="#home">Lakshya Crowdfunding</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{{BASE_URL}}">Home</a>
                </li>
                <li>
                {%if user.is_authenticated%}
                  <a href="{{BASE_URL}}/auth/logout">Logout</a>
                {%else%}
                <a href="{{BASE_URL}}/auth/login">Login</a>
                {%endif%}
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container-fluid">

        <div class="row">
            <div class="home-popular-project">
        <div class="container_12-fluid">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            <div class="grid_12 wrap-title">
                <h2 class="common-title" style="text-align:center;">Projects List</h2>
                <a class="be-fc-orange" href="category.html">View all</a>
            </div>
            <div class="clear"></div>
            <div class="lst-popular-project clearfix">
            {%if project%}{%for item in project%}
                <div class="grid_3">
                    <div class="project-short sml-thumb">
                        <div class="top-project-info">
                            <div class="content-info-short clearfix">
                                <a href="#" class="thumb-img">
                                    <img src="{{item.img_link}}" alt="$TITLE">
                                </a>
                                <div class="wrap-short-detail">
                                    <h3 class="rs acticle-title"><a class="be-fc-orange" href="{{BASE_URL}}/project/show/{{item.project_id}}">{{item.project_name}}</a></h3>
                                    <p class="rs tiny-desc">by {%for item in user%}<a href="{{BASE_URL}}/profile/{{item.id}}" class="fw-b fc-gray be-fc-orange">{{item.username}}{%endfor%}</a></p>
                                    <p class="rs title-description">{{item.project_desc}}</p>
                                    <p class="rs project-location">
                                        <i class="icon iLocation"></i>
                                        New York, NY
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="bottom-project-info clearfix">
                            <div class="line-progress">
                                <div class="bg-progress">
                                    <span style="width: {%for ans in res%}{{ans}}{%endfor%}%"></span>
                                </div>
                            </div>
                            <div class="group-fee clearfix">
                                <div class="fee-item">
                                    <p class="rs lbl">Funded</p>
                                    <span class="val">{%for ans in res%}{%for t in ans%}{%ifequal item.proj_id t.proj_id%}{{t.amount}}{%endifequal%}{%endfor%}{%endfor%}%</span>
                                </div>
                                <div class="sep"></div>
                                <div class="fee-item">
                                    <p class="rs lbl">Pledged</p>
                                    <span class="val">{{item.money_req}}</span>
                                </div>
                                <div class="sep"></div>
                                <div class="fee-item">
                                    <p class="rs lbl">Days Left</p>
                                    <span class="val">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end: .grid_3 > .project-short-->{%endfor%}{%endif%}
            </div>
        </div>
    </div>
      </div>

    </div>


    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/isotope.pkgd.min.js"></script>
    <script src="{{STATIC_URL}}js/imagesloaded.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.scrollTo.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.nav.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.appear.min.js"></script>
    <script src="{{STATIC_URL}}js/twitterFetcher.min.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>

  </body>
  </html>